<body>
    {{> nav}}
    {{> header}}
    <article>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-8 offset-lg-1">
                    <div class="row">
                        <div class="col-12">
                            <h2>Contact</h2>
                        </div>
                        <div class="col-12 col-md-10 offset-md-1">
                            <h3>Adresse</h3>
                            <p>Station F</p>
                            <p>5 Parvis Alan Turing</p>
                            <p>75013 Paris</p>
                        </div>

                        <div class="col-12 post-content">
                            <div class="mapouter">
                                <div class="gmap_canvas">
                                    <iframe width="100%" height="100%" id="gmap_canvas"
                                        src="https://maps.google.com/maps?q=university%20of%20san%20francisco&t=&z=13&ie=UTF8&iwloc=&output=embed"
                                        frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                                    </iframe>
                                </div>
                                <style></style>
                            </div>
                        </div>
                        <!-- /.post-content -->
                    </div>
                </div>
                {{> sidebar}}
            </div>
        </div>
    </article>
    {{> footer}}
</body>