<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <img src="img/logo_square_white.png" />
                <h1>{{titre1}}</h1>
                {{#if titre2}}<h2>{{titre2}}</h2>{{/if}}
            </div>
        </div>
    </div>
</header>